In [1]:
import glob
import numpy
import pandas
import seaborn
import matplotlib.pyplot as plt
from tqdm import tqdm

In [2]:
from IPython.display import display, HTML, Math, Markdown
display(HTML("<style>.container { width:95% !important; }</style>"))

%load_ext autoreload
%autoreload 2

In [92]:
import json
with open('keffs-modified-reactions.json', 'r') as infile:
    dct = json.load(infile)

In [95]:
import re

df = pandas.DataFrame([ [ re.split('_FWD_|_REV_', k)[0], 'FWD' if 'FWD' in k else 'REV', 
   re.split('_FWD_|_REV_', x := k)[1].split('_mod_')[0],
  ' AND '.join(k.split('_mod_')[1:]), v] for k,v in dct.items() ])

display(df.tail(10))

df.columns = ['reaction', 'direction', 'complex', 'mods', 'keff']
df.to_csv('keffs-rs.txt', sep = '\t', index = False)

df.columns = ['reaction', 'direction', 'complex', 'mods', 'keff']
df[~df.duplicated(subset = ['reaction', 'complex', 'mods', 'keff'])].to_csv('keffs-rs-unique.txt', sep = '\t', index = False)

                    0    1                    2         3            4
5038           Zn2tex  FWD           CPLX0-7530              74.679114
5039           Zn2tex  REV           CPLX0-7530              74.679114
5040           Zn2tex  FWD           CPLX0-7533              76.744724
5041           Zn2tex  REV           CPLX0-7533              76.744724
5042           Zn2tex  FWD           CPLX0-7534              75.267682
5043           Zn2tex  REV           CPLX0-7534              75.267682
5044           Zn2tex  FWD        G6700-MONOMER              34.194019
5045           Zn2tex  REV        G6700-MONOMER              34.194019
5046           GLUTRR  FWD           CPLX0-3741            3269.010801
5047  hemeD_synthesis  FWD  HYDROPEROXIDII-CPLX  hemed(6)     0.000863

In [91]:
x

'Translation_initiation_fmet_addition_at_START'